<app-header [title]="page.title" [menu]="page.menu" ></app-header>

<section class="ftco-section bg-light pb-3 pt-5">
    <div class="card mx-auto mb-5 w-75 h-100">
        <div class="card-body">
            <form>
                    <div class="row g-3">
                        <div class="col-md-9">
                            <h6>Uniform Program - {{ page.data?.pgName }}</h6>
                        </div>
                    </div>

                    <div class="row g-3 mb-5">
                        <div class="col-md-9">
                            <h6><small>Catalog > Categories > New Category </small></h6>
                        </div>
                    </div>

                    <h4 class="card-title ms-1 mb-4">New Category</h4>
                    <h6 class="card-title ms-1 mb-3">Basic Category Information</h6>

                    <div class="row g-3 mb-4">
                        <div class="col-md-3">
                            <label for="inputItem" class="form-label">Name</label>
                            <input type="text" class="form-control" id="inputName" name='name' [(ngModel)]="name">
                        </div>
                    </div>

                    <div class="row g-3 mb-3">
                        <div class="col-md-3">
                            <label for="inputItem" class="form-label">Parent Category</label>
                            <ngx-select-dropdown name="parentDrop" [config]="searchConfig()" [options]="page.data?.categories" [(ngModel)]="pnan"></ngx-select-dropdown>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary me-3" (click)="page.editmode ? loadCategory('update') : loadCategory('create')">Save</button>
                            <button *ngIf="page.editmode" type="submit" class="btn btn-primary me-3" (click)="loadCategory('delete')">Delete</button>
                            <button type="submit" class="btn btn-primary me-3" (click)="goBack()">Cancel</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
    
    <app-footer></app-footer>
</section>
