<app-header [title]="page.title" [menu]="page.menu" ></app-header>

<div id="container">
    <app-sidebar class="sidebar" [title]="page.title" [menu]="page.menu"></app-sidebar>

    <section class="ftco-section bg-light pb-3 pt-5 content w-100">
        <app-modal-imf *ngIf="popup" (close)="popup = ''" [mode]="popup" (file)="loadImf($event)"></app-modal-imf>
        <div class="card mx-auto mb-5 mt-5 w-75 mh-100">
            <div class="card-body">
                    <form>
                        <h6 class="mb-3" *ngIf="page.data?.result == 'fail'"><strong class="text-danger">{{page.data.errors}}</strong></h6>

                        <!-- <div class="form-group row g-3 mb-3">
                            <div class="col-md-9 d-flex justify-content-end">
                                <a href="javascript:void" (click)="preload()"><p class="col-form-label">Preload Defaults</p></a>
                                <button type="button" class="btn btn-primary me-3" (click)="preload()">Preload Defaults</button>
                            </div>
                        </div> -->

                        <div class="form-group row g-3 mb-3">
                            <label class="col-md-2 col-form-label" align="right"><strong>Style:</strong></label>
                            <div class="col-md-3">
                                <input type="text" readonly class="form-control-plaintext" [value]="this.page.data?.style?.styl + ' - ' + this.page.data?.style?.desc">
                            </div>
                        </div>

                        <div class="form-group row g-3 mb-3">
                            <label class="col-md-2 col-form-label" align="right"><strong>Options:</strong></label>
                            <div class="col-md-3">
                                <input type="text" readonly class="form-control-plaintext" [value]="this.options">
                            </div>
                        </div>

                        <div class="form-group row g-3 mb-3">
                            <label class="col-md-2 col-form-label" align="right"><strong>Restricted Web Sale:</strong></label>
                            <div class="col-md-3">
                                <select name="" class="form-select" name="inputSeq" [(ngModel)]="this.rstr">
                                    <option value="">Select</option>
                                    <option *ngFor="let restriction of page.data?.rstrDrop" [ngValue]="restriction.valu" [selected]="page.data?.info?.rstr == restriction.valu">{{restriction.desc}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row g-3 mb-3">
                            <label class="col-md-2 col-form-label" align="right"><strong>H1 Description:</strong></label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="inputH1SC" [(ngModel)]="h1sc" [value] = 'h1sc'>
                            </div>
                            <div class="col-md-1 mt-3">
                                <p>{{256 - h1sc.length}}</p>
                            </div>
                        </div>

                        <div class="form-group row g-3 mb-3">
                            <label class="col-md-2 col-form-label" align="right"><strong>Short Description:</strong></label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="inputSDSC" [(ngModel)]="sdsc" [value] = 'sdsc'>
                            </div>
                            <div class="col-md-1 mt-3">
                                <p>{{256 - sdsc.length}}</p>
                            </div>
                        </div>

                        <div class="form-group row g-3 mb-3">
                            <label class="col-md-2 col-form-label" align="right"><strong>Full Image File:</strong></label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="inputFIMF" [(ngModel)]="fimf" [value] = 'fimf'>
                            </div>
                            <div [ngClass]="chkImg('fimf') == true ? 'col-md-2' : 'col-md-1'">
                                <button type="button" class="btn btn-light bg-transparent me-1" (click)="popup = 'fimf'">
                                    <span class="bi bi-upload" title="upload"></span>
                                </button>
                                <a *ngIf="chkImg('fimf')" type="button" class="btn btn-light bg-transparent" [id]="'viewFIMF'" (click)="viewImage(fimf, 'FIMF')" target="_blank" rel="noopener noreferrer">
                                    <span class="bi bi-eye" title="view"></span>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="javascript:void" (click)="goAdditional()"><p class="col-form-label">Additional Images</p></a>
                            </div>
                        </div>

                        <div class="form-group row g-3 mb-3">
                            <label class="col-md-2 col-form-label" align="right"><strong>Medium Image File:</strong></label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="inputMIMF" [(ngModel)]="mimf" [value] = 'mimf'>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-light bg-transparent me-1" (click)="popup = 'mimf'">
                                    <span class="bi bi-upload" title="upload"></span>
                                </button>
                                <a *ngIf="chkImg('mimf')" type="button" class="btn btn-light bg-transparent" [id]="'viewMIMF'" (click)="viewImage(mimf, 'MIMF')" target="_blank" rel="noopener noreferrer">
                                    <span class="bi bi-eye" title="view"></span>
                                </a>
                            </div>
                        </div>

                        <div class="form-group row g-3 mb-3">
                            <label class="col-md-2 col-form-label" align="right"><strong>Thumbnail File:</strong></label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="inputTIMF" [(ngModel)]="timf" [value] = 'timf'>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-light bg-transparent me-1" (click)="popup = 'timf'">
                                    <span class="bi bi-upload" title="upload"></span>
                                </button>
                                <a *ngIf="chkImg('timf')" type="button" class="btn btn-light bg-transparent me-1" [id]="'viewTIMF'" (click)="viewImage(timf, 'TIMF')" target="_blank" rel="noopener noreferrer">
                                    <span class="bi bi-eye" title="view"></span>
                                </a>
                                <span class="text-danger"><b>(Galls B2B Only)</b></span>
                            </div>
                        </div>

                        <div class="form-group row g-3 mb-3">
                            <label class="col-md-2 col-form-label" align="right"><strong>Zoom Image File:</strong></label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="inputZIMF" [(ngModel)]="zimf" [value] = 'zimf'>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-light bg-transparent me-1" (click)="popup = 'zimf'">
                                    <span class="bi bi-upload" title="upload"></span>
                                </button>
                                <a *ngIf="chkImg('zimf')" type="button" class="btn btn-light bg-transparent" [id]="'viewZIMF'" (click)="viewImage(zimf, 'ZIMF')" target="_blank" rel="noopener noreferrer">
                                    <span class="bi bi-eye" title="view"></span>
                                </a>
                            </div>
                        </div>

                        <div class="form-group row g-3 mb-3">
                            <label class="col-md-2 col-form-label" align="right"><strong>Medium Image Alt Text:</strong></label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="inputMIMA" [(ngModel)]="mima" [value] = 'mima'>
                            </div>
                            <div class="col-md-2">
                                <span class="text-danger"><b>(QM B2B only)</b></span>
                            </div>
                        </div>

                        <div class="form-group row g-3 mb-3">
                            <label class="col-md-2 col-form-label" align="right"><strong>Long Description:</strong></label>
                            <div class="col-md-6">
                                <!-- <input type="text" class="form-control" name="inputLDSC" [(ngModel)]="ldsc" [value] = 'ldsc'> -->
                                 <angular-editor [(ngModel)]="ldsc" [config]="editorConfig" name="inputLDSC"></angular-editor>
                                 <p *ngIf="ldsc && ldsc.length <= 5000">You have {{5000 - ldsc.length}} character spaces remaining</p>
                                 <p *ngIf="ldsc && ldsc.length > 5000">Only a maximum of 5000 characters are allowed, please remove {{ldsc.length - 5000}} characters</p>
                            </div>
                        </div>

                        <div class="form-group row g-3 mb-5">
                            <label class="col-md-2 col-form-label" align="right"><strong>Option Copy:</strong></label>
                            <div class="col-md-6">
                                <textarea class="form-control" rows="5" name="inputOPCP" [(ngModel)]="opcp"></textarea>
                                <span class="text-danger d-flex justify-content-end"><b>(Galls B2B Only)</b></span>
                            </div>
                        </div>

                        <div class="d-flex flex-row">
                            <div class="col-md-5 ms-5">
                                <button type="button" class="btn btn-primary me-3" (click)="loadOverride()">Save Changes</button>
                                <button type="button" class="btn btn-primary me-3" (click)="dltOverride()">Delete Web Info</button>
                                <button class="btn btn-secondary me-3" (click)="goBack()">Cancel</button>
                            </div>
                        </div>

                    </form>
            </div>
        </div>
        
        <app-footer></app-footer>

    </section>
</div>
