<app-header [title]="page.title" [menu]="page.menu" ></app-header>
<section class="ftco-section bg-light pb-3 pt-5">
    <div class="card mx-auto mb-5 w-75 h-100">
        <div class="card-body">

            <div class="row g-3 mb-3">
                <div class="col-md-5">
                    <h6 class="">Uniform Program - {{ page.data?.info?.name }}</h6>
                </div>
                <div class="col-md-3">
                    <h6 class="me-5">Start Date: {{ dsppbdate(page.data?.info?.effd) }}</h6>
                </div>
                <div class="col-md-3">
                    <h6 class="me-5">Expiration Date: {{ dsppbdate(page.data?.info?.expd) }}</h6>
                </div>
                <div class="col-md-1">
                    <button class="btn">
                        <span class="bi bi-bell" title=""></span>
                    </button>
                    <button class="btn">
                        <span class="bi bi-question-circle" title="FAQ"></span>
                    </button>
                </div>
            </div>

            <div class="row g-3 mb-3">
                <div class="col-md-12">
                    <h6 class="">Notes:</h6>
                </div>         
            </div>

            <hr class="h-0 border-top-3 border-primary opacity-100 mb-4">

            <div class="row g-3 mb-3">
                <h3 class="card-title ms-1">Dashboard</h3>
            </div>
    
            <!-- Product -->
            <div class="row g-3 mb-3">

                <div class="col-md-2">
                    <div class="card-body step">
                        <h6>Step 1: Add Product</h6>
                    </div>
                </div>     

                <div class="col-md-3">
                    <div class="card-body step">
                        <img class="dash-img" src="{{imgprfx}}/dash_shirt.png"> 
                    </div>
                </div>    
                
                <div class="col-md-6">
                    <div class="card-body w-75">
                        <h6>Add Product & Category</h6>
                        <div class="d-flex main">
                            <a href="javascript:void(0)" class="link-underline link-underline-opacity-0" (click)="loadProduct('addProduct');"><li class="me-5">Add Product</li></a>
                            <a href="javascript:void(0)" class="link-underline link-underline-opacity-0" (click)="loadProduct('');"><li class="me-5">Import Products</li></a>
                        </div>
                        <div class="d-flex main">
                            <a href="javascript:void(0)" class="link-underline link-underline-opacity-0" (click)="loadProduct('createCategory');"><li class="me-4">Create Category</li></a>
                            <a href="javascript:void(0)" class="link-underline link-underline-opacity-0" (click)="loadProduct('cxmlConfig');"><li class="">CXML Configurations</li></a>
                        </div>
                        <div class="d-flex main">
                            <a href="javascript:void(0)" class="link-underline link-underline-opacity-0" (click)="loadProduct('');"><li class="me-4">Build Customizations</li></a>
                        </div>
                    </div>    
                </div>
            </div>

            <!-- Warehouse -->
            <div class="row g-3 mb-3">
                <div class="col-md-2">
                    <div class="card-body step">
                        <h6>Step 2: Add Warehouse</h6>
                    </div>
                </div>    

                <div class="col-md-3">
                    <div class="card-body step">
                        <img class="dash-img" src="{{imgprfx}}/dash_box.png">
                    </div>
                </div>    
                
                <div class="col-md-6">
                    <div class="card-body w-75">
                        <h6>Add Fulfillment Warehouse</h6>
                        <div class="d-flex main">
                            <a href="javascript:void(0)" class="link-underline link-underline-opacity-0" (click)="loadWarehouse('');"><li class="me-5">Add Fulfillment Warehouse for Catalog</li></a>
                        </div>
                        <div class="d-flex main">
                            <a href="javascript:void(0)" class="link-underline link-underline-opacity-0" (click)="loadWarehouse('');"><li class="me-5">Add Fulfillment Warehouse for Product</li></a>
                        </div>
                    </div>    
                </div>
            </div>

            <!-- Pricing -->
            <div class="row g-3 mb-3">
                <div class="col-md-2">
                    <div class="card-body step">
                        <h6>Step 3: Add Pricing</h6>
                    </div>
                </div> 

                <div class="col-md-3">
                    <div class="card-body step">
                        <img class="dash-img" src="{{imgprfx}}/dash_price.png">
                    </div>
                </div>    
                
                <div class="col-md-6">
                    <div class="card-body w-75">
                        <h6>Add Pricing for Catalog & Customizations</h6>
                        <div class="d-flex main">
                            <a href="javascript:void(0)" class="link-underline link-underline-opacity-0" (click)="loadPricing('addList');"><li class="me-5">Add Price List</li></a>
                        </div>
                        <div class="d-flex main">
                            <a href="javascript:void(0)" class="link-underline link-underline-opacity-0" (click)="loadPricing('addPricing');"><li class="me-5">Add Pricing for Customization</li></a>
                        </div>
                    </div>    
                </div>
            </div>

        </div>
    </div>
    <app-footer></app-footer>
</section>