<app-header [title]="page.title" [menu]="page.menu" ></app-header>

<section class="ftco-section bg-light pb-3 pt-5">
    <div class="card mx-auto mb-5 w-75 h-100">
        <div class="card-body">
            <form>
                <h6 class="mb-3" *ngIf="errors"><strong class="text-danger">{{errors}}</strong></h6>

                <div class="row g-5">
                    <div class="col-10 mb-5">
                        <h6 class="">Uniform Program - {{ page.data?.pgName }}</h6>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-secondary me-3" (click)="goBack()">Cancel</button>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-md-9">
                        <h6><small>Mass Question Update</small></h6>
                    </div>
                </div>

                <div class="row g-3 mb-4">
                    <div class="col-md-3">
                        <label for="v2noInput" class="col-md-4 col-form-label"><span class="text-danger"><strong>*</strong></span> Application: </label>
                        <select class="form-select p-2" name="inputV1CD" [(ngModel)]="v1cd" (ngModelChange)="getInfo()" (change)="errors = ''" (change)="v2no = ''">
                            <option value="">Select</option>
                            <option *ngFor="let app of applications" [ngValue]="app.v1cd" [selected]="app.v1cd == v1cd">{{app.v1desc}}</option>
                        </select>
                    </div>
                </div>

                <ng-container *ngIf="v1cd && questions.length !== 0">
                    <div class="row g-3 mb-3">
                        <div class="col-md-3">
                            <label for="v2noInput" class="col-md-4 col-form-label"><span class="text-danger"><strong>*</strong></span> Question: </label>
                            <select class="form-select p-2" name="inputV2NO" [(ngModel)]="v2no" (ngModelChange)="getInfo()" (change)="errors = ''">
                                <option value="">Select</option>
                                <option *ngFor="let question of questions" [ngValue]="question.v2no" [selected]="question.v2no == v2no">{{question.desc}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row g-3 mb-4">
                        <div class="col-md-3">
                            <label for="v2noInput" class="col-md-4 col-form-label"><span class="text-danger"><strong>*</strong></span> New Answer: </label>
                            <input type="text" class="form-control" name="inputDesc" [(ngModel)]="desc">
                        </div>
                    </div>
                </ng-container>

                <div class="row g-3 mb-3" *ngIf="v1cd && questions.length > 0">
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary me-3" (click)="loadUpdate()" *ngIf="v1cd">Update Answer</button>
                    </div>
                </div>

                <div class="row g-3" *ngIf="v1cd && questions.length == 0 ">
                    <div class="col-md-3">
                        <span class="text-primary"><strong>No Questions Found</strong></span>
                    </div>
                </div>
    
                <div class="row g-3 mb-4">
                    <div class="col-md-10">
                        <label for="v2noInput" class="col-md-4 col-form-label"><span class="text-danger"><strong>*</strong></span> Denotes required information </label>
                    </div>
                </div>

                <ng-container *ngIf="v1cd && v2no">
                    <div class="d-flex justify-content-between w-50">
                        <h6><small>Personalization Groups</small></h6>
                        <a href="javascript:void(0)" (click)="checkAll()"><h6><small>Check/Uncheck All</small></h6></a>
                    </div>

                    <table class="table table-striped table-bordered w-50">
                        <tbody>
                            <ng-container *ngFor="let group of groups">
                                <tr class="mb-2">
                                    <td>
                                        <div class="d-flex border-bottom border-dark" style="--bs-border-opacity: .5;">
                                            <label for="npDesc" class="p-2"><strong>Personalization Group: </strong></label>
                                            <span class="p-2" name="npDesc">{{group.desc}}</span>                                      
                                        </div>
                                        <div class="d-flex border-bottom border-dark" style="--bs-border-opacity: .5;">
                                            <label for="v1Desc" class="p-2"><strong>Application: </strong></label>
                                            <span class="p-2" name="v1Desc">{{group.nv1Desc}}</span>          
                                            <input type="checkbox" class="ms-auto me-5 p-2 form-check-input mt-2" id="N2NO{{group.n2no}}" value="{{group.n2no}}" [checked]="isChecked(group.n2no)" (click)="checkGroup(group.n2no)">         
                                        </div>
                                        <div class="d-flex">
                                            <label for="v2Desc" class="p-2"><strong>{{group.nv2Desc}}: </strong></label>
                                            <span class="ml-auto p-2" name="v1Desc">{{group.dfan}}</span>                                                           
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table> 
                </ng-container>
            </form>
        </div>
    </div>

    <app-footer></app-footer>
</section>

