<app-header [title]="page.title" [menu]="page.menu" ></app-header>

<div id="container">

    <app-sidebar class="sidebar" [title]="page.title" [menu]="page.menu"></app-sidebar>

    <section class="ftco-section bg-light pb-3 pt-5 content w-100">

        <div class="card mx-auto mb-5 mt-5 w-75 mh-100">
            <div class="card-body">
                <div class="d-flex flex-row mb-5">
                    <div class="col-md-6">
                        <button (click)="goBack()" class="btn btn-secondary rounded-0 w-25 me-3" type="button">Cancel</button>
                        <button (click)="goProduct()" class="btn btn-primary rounded-0 w-50" type="button" *ngIf="this.nino">Finish Customization, Return to Style</button>
                    </div>
                </div>

                <div class="row g-4">
                    <div class="col-10">
                        <h6 class="">Uniform Program - {{ page.data?.pgName }}</h6>
                    </div>

                    <div class="col-2" *ngIf="!page.data?.single">
                        <button (click)="loadApplication('new','')" class="btn btn-primary rounded-0 w-50 me-3" type="button">New</button>
                        <button class="btn">
                            <span class="bi bi-question-circle" title="FAQ"></span>
                        </button>
                    </div>
                </div>

                <div class="row g-3 mb-1">
                    <div class="col-md-5">
                        <h6><small> {{'Catalog > Customization > ' + (page.data?.npname ? page.data?.npname + ' (' + trim(this.npno) + ')' : '')}} </small></h6>
                    </div>
                    <div class="col-md-5">
                        <h6 class="" *ngIf="this.nino">Step 1: Click NEW to start adding VAS Applications to this Customization Group</h6>
                    </div>
                </div>

                <div class="row g-3 mb-1">
                    <div class="col-md-5"></div>
                    <div class="col-md-5">
                        <h6 class="" *ngIf="this.nino">Step 2: Edit VAS Questions from the list below. Click + button to see all questions for an application.</h6>
                    </div>
                </div>

                <div class="row g-3 mb-1">
                    <div class="col-md-5"></div>
                    <div class="col-md-5">
                        <h6 class="" *ngIf="this.nino">Step 3: Answer all Required questions, then review non-required questions and answer as necessary.</h6>
                        <h6 class="ms-5" *ngIf="this.nino"><strong>*If you answer a non-required question, you need to set it to "Required" for it to work</strong></h6>
                    </div>
                </div>

                <div class="row g-3 mb-1">
                    <div class="col-md-5"></div>
                    <div class="col-md-5">
                        <h6 class="" *ngIf="this.nino">Step 4: Click "Finish Customization, Return to Style" to return to your originally selected style. Or use Cancel to return to the Customizations list.</h6>
                    </div>
                </div>
    
                <div class="row g-3 mb-4" *ngIf="hasQuestions()">
                    <div class="col-md-3">
                        <span>Expand All VAS Questions: </span>
                        <input class="form-check-input ms-1 me-5" type="checkbox" [(ngModel)]="allexpanded" (change)="expandAll()">
                    </div>
                </div>

                <hr class="h-0 border-top-3 border-primary opacity-100 mb-4">

                <table class="table table-striped w-100">
                    <thead>
                        <tr>
                            <th align="left"><input type="checkbox" class="form-check-input" (click)="checkAll()" [checked]="allChecked()"></th>
                            <th align="left">Actions</th>
                            <th align="left">VAS Description</th>
                            <th align="left">VAS Code</th>
                            <th align="left">VAS Item</th>
                            <th align="left">Active</th>
                            <th align="left">Mandatory</th>
                            <th align="left">Last Purchase Date</th>
                        </tr>
                    </thead>

                    <tbody>
                        <ng-container *ngFor="let application of page.data?.applications | paginate: {itemsPerPage: itemsPerPage, currentPage: p, totalItems: total}; index as u ">
                            <tr>
                                <td align="left" class="ps-2" colspan="1"><input type="checkbox" class="form-check-input" id="ckbx{{ application.n1no }}"  value="{{ application }}" (click)="checkApplication(application)" [checked] = "isChecked(application)"></td>
                                <td class="w-25">
                                    <button class="btn bg-transparent" (click)="loadApplication('edit', application.n1no)"><span
                                        class="bi bi-pencil-square" title="Edit Product"></span></button>
                                    <button class="btn bg-transparent" (click)="loadApplication('copy', application.n1no)"><span
                                        class="bi bi-clipboard" title="Copy Product"></span></button>
                                    <button class="btn bg-transparent" (click)="deleteApplication(application.n1no)"><span
                                        class="bi bi-trash" title="Product Details"></span></button>
                                    <button class="btn bg-transparent" (click)="expandApplication(application)" *ngIf="application.bttn == 'Y'"><span
                                        [ngClass]="chkExpanded(application) ? 'bi bi-dash-lg' : 'bi-plus-lg'" title="Expand Category"></span></button>
                                </td>
                                <td align="left">{{application.desc}}</td>
                                <td align="left">{{application.v1cd}}</td>
                                <td align="left">{{application.sku}}</td>
                                <td align="left">{{(application.actv == 'Y') ? 'Yes' : 'No'}}</td>
                                <td align="left">{{(application.mand == 'Y') ? 'Yes' : 'No'}}</td>
                                <td align="left">{{(application.addt) ? dsppbdate(application.addt) : ''}}</td>
                            </tr>

                            <ng-container *ngIf="chkExpanded(application)">
                                <tr>
                                    <td colspan="7">
                                        <app-vas-questions [nhno]="page.rfno" [npno]="this.npno" [application]="application" [expanded]="expanded" [all]="allexpanded ? true : false" [cache]="this.p1?.expanded ? this.p1 : ''" [vsmt]="this.vsmt"></app-vas-questions>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody> 
                </table> 
            </div>
        </div>

        <div class="row g-4">
            <div class="col-8 mx-auto w-50">
                <label>Items per page:
                    <select [(ngModel)]="itemsPerPage" (change)="onItemChange(itemsPerPage)">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    </select>
                </label>
            </div>

            <div class="col-2 w-25">
                <pagination-controls (pageChange)="onPageChange($event)" [maxSize]="0" class="text-primary"></pagination-controls>
            </div>
        </div>

        <app-footer></app-footer>
    </section>
</div>

