<title>{{title}}</title>
<nav class="border-bottom">
    <div class="container-fluid d-flex flex-wrap bg-dark">
      <ul class="nav me-auto">
        <li class="nav-item nav-link link-body-emphasis px-2">
            <img src="{{imgprfx}}/logo.png" style="max-width: 120px;">
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-item nav-link link-body-emphasis px-2"><span class="fs-5 text-light">Welcome, {{fullname}} !</span></li>
      </ul>
    </div>
  </nav>

  <div class="text-center loader" id="loader">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>