<title>{{title}}</title>

<div class="d-flex position-fixed" style="z-index: 999;" *ngIf="this.menu != ''">
    <button class="toggle-btn" (click)="showSidebar = !showSidebar; expanded = ''"
            [ngStyle]="{'right': (this.showSidebar) ? '-300px' : '-40px'}">
    <i [ngClass]="{'bi bi-chevron-right': (!this.showSidebar), 'bi bi-chevron-left': (this.showSidebar)}" ></i>
    </button>

  <nav class="sidebar d-flex flex-column flex-shrink-0 position-fixed" *ngIf="this.showSidebar">
      <div class="p-4">
          <h4 class="logo-text fw-bold mb-0">
              <a><li class="nav-item nav-link link-body-emphasis px-2">
                  <img src="{{imgprfx}}/logo.png" style="max-width: 120px;">
                  </li>
              </a>
          </h4>
      </div>

      <div class="nav flex-column">
          <a class="sidebar-link text-decoration-none p-3" (click)="goMenu('dashboard')">
              <span>Dashboard</span>
          </a>
          <a class="sidebar-link text-decoration-none p-3" (click)="goMenu('customers')">
              <span>Customers</span>
          </a>

          <!-- Pricing -->
          <a (click)="(expanded == 'pricing') ? expanded = '' : expanded = 'pricing'" class="sidebar-link text-decoration-none p-3"
             [ngClass]="{'active': (this.expanded.includes('pricing'))}">
             <span>Pricing
                <i [ngClass]="{'bi bi-chevron-down': (this.expanded.includes('pricing')), 'bi bi-chevron-right': (!this.expanded.includes('pricing'))}" ></i>
             </span> 
          </a>
          <div class="sidebar-sub-3"
                [ngClass]="{'d-none': (!this.expanded.includes('pricing'))}">
              <a class="sidebar-link-sub text-decoration-none">
                  <span>UP Price List<br></span> 
              </a>
              <a class="sidebar-link-sub text-decoration-none">
                  <span>UP VAS Pricing<br></span> 
              </a>
          </div>

          <!-- Catalog -->
          <a (click)="(expanded == 'catalog') ? expanded = '' : expanded = 'catalog'" class="sidebar-link text-decoration-none p-3"
             [ngClass]="{'active': (this.expanded.includes('catalog'))}">
            <span>Catalog
                <i [ngClass]="{'bi bi-chevron-down': (this.expanded.includes('catalog')), 'bi bi-chevron-right': (!this.expanded.includes('catalog'))}" ></i>
            </span>
          </a>
          <div class="sidebar-sub-4"
                [ngClass]="{'d-none': (!this.expanded.includes('catalog'))}">
              <a class="sidebar-link-sub text-decoration-none" (click)="goMenu('products')">
                  <span>Products<br></span> 
              </a>
              <a class="sidebar-link-sub text-decoration-none" (click)="goMenu('categories')">
                  <span>Categories<br></span> 
              </a>
              <a class="sidebar-link-sub text-decoration-none" (click)="goMenu('customizations')">
                  <span>Customization<br></span> 
              </a>
              <a class="sidebar-link-sub text-decoration-none" (click)="goMenu('warehouses')">
                  <span>Warehouse</span> 
              </a>
          </div>

          <!-- Content -->
          <a (click)="(expanded == 'content') ? expanded = '' : expanded = 'content'" class="sidebar-link text-decoration-none p-3"
             [ngClass]="{'active': (this.expanded.includes('content'))}">
            <span>Content
                <i [ngClass]="{'bi bi-chevron-down': (this.expanded.includes('content')), 'bi bi-chevron-right': (!this.expanded.includes('content'))}" ></i>
            </span>
          </a>
          <div class="sidebar-sub-5"
                [ngClass]="{'d-none': (!this.expanded.includes('content'))}">
              <a class="sidebar-link-sub text-decoration-none" (click)="goMenu('images')">
                  <span>Images<br></span> 
              </a>
              <a class="sidebar-link-sub text-decoration-none" (click)="goMenu('notes')">
                  <span>Notes<br></span> 
              </a>
          </div>

           <!-- Tools -->
          <a (click)="(expanded == 'tools') ? expanded = '' : expanded = 'tools'" class="sidebar-link text-decoration-none p-3"
             [ngClass]="{'active': (this.expanded.includes('tools'))}">
              <span>Tools
                <i [ngClass]="{'bi bi-chevron-down': (this.expanded.includes('tools')), 'bi bi-chevron-right': (!this.expanded.includes('tools'))}" ></i>
            </span>
          </a>
          <div class="sidebar-sub-6"
                [ngClass]="{'d-none': (!this.expanded.includes('tools'))}">
              <a class="sidebar-link-sub text-decoration-none">
                  <span>Data Import<br></span> 
              </a>
              <a class="sidebar-link-sub text-decoration-none">
                  <span>Data Export<br></span> 
              </a>
              <a class="sidebar-link-sub text-decoration-none">
                  <span>CXML Configuration<br></span> 
              </a>
          </div>

          <!-- Reports -->
          <a (click)="(expanded == 'reports') ? expanded = '' : expanded = 'reports'" class="sidebar-link text-decoration-none p-3"
             [ngClass]="{'active': (this.expanded.includes('reports'))}">
            <span>Reports
                <i [ngClass]="{'bi bi-chevron-down': (this.expanded.includes('reports')), 'bi bi-chevron-right': (!this.expanded.includes('reports'))}" ></i>
            </span>
          </a>
          <div class="sidebar-sub-7"
          [ngClass]="{'d-none': (!this.expanded.includes('reports'))}">
              <a class="sidebar-link-sub text-decoration-none">
                  <span>UP Assortment Report<br></span> 
              </a>
              <a class="sidebar-link-sub text-decoration-none">
                  <span>UP Personalization Group<br></span> 
              </a>
              <a class="sidebar-link-sub text-decoration-none">
                  <span>UP Program Audit Log<br></span> 
              </a>
          </div>
      </div>
  </nav>
</div>

<nav class="border-bottom">
    <div class="container-fluid d-flex flex-wrap bg-dark mw-2000">
      <ul class="nav me-auto">
        <li class="nav-item nav-link link-body-emphasis px-2">
            <img src="{{imgprfx}}/logo.png" style="max-width: 120px;">
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-item nav-link link-body-emphasis px-2"><span class="fs-5 text-light">Welcome, {{fullname}} !</span></li>
      </ul>
    </div>
  </nav>

  <div class="text-center" id="loader">
    <div class="d-flex flex-column align-items-center justify-content-center loader">
    <div class="row">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    </div>
    <div class="row text-light">
      <strong id="loaderMessage">Loading...</strong>
    </div>
  </div>
  </div>