
.sidebar {
    width: 28vh;
    height: 100%;
    background: rgb(33, 37, 41);
    transition: all 0.3s ease;
    z-index: 999; 
}

.sidebar.collapsed {
    width: 0;
}

.sidebar-link {
    color: #ffffff;
    transition: all 0.2s ease;
    border-radius: 8px;
    margin: 4px 16px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.sidebar-link-sub {
    color: #ffffff;
    transition: all 0.2s ease;
    border-radius: 8px;
    margin: -10px 50px;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar-link-sub:hover {
    color: #2581c3;
    transform: translateX(5px);
}

.sidebar-link:hover {
    color: #2581c3;
    background: rgba(255, 255, 255, 0.1);
    transform: translateX(5px);
}

.sidebar-link.active {
    color: #2581c3;
    background: rgba(255, 255, 255, 0.1);
}

.active .sidebar-link{
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
}

.toggle-btn {
    position: absolute;
    top: 60px;
    color: #ffff;
    background: rgb(33, 37, 41);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    box-shadow: 0 2px 6px #fdfdfd26;
    z-index: 100;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.collapsed .sidebar-link {
    width: 0;
    visibility: hidden;
}

.collapsed .sidebar-link i {
    width: 0;
}
