<app-header [title]="page.title" [menu]="page.menu" ></app-header>

<section class="ftco-section bg-light pb-3 pt-5">

    <div class="row g-3 mb-3">
        <div class="col-2">
          <input type="button" value="Cancel" class="btn btn-secondary" (click)="goBack()">
        </div>
    </div>

    <div class="card mx-auto mb-5 w-100 h-100">
        <div class="card-body">
            <iframe style="border: 0; width:100%; height: 700px; overflow: auto;"
            [src]="getSafeUrl('https://10.32.234.54/cgi/APOELMAC?PAMODE=*INQ&PMFRAMEID=bottomFrame&PMFRAMEIDE=topFrame&PMFRAMEO=Y&PMEDIT=N')"></iframe>
        </div>
    </div>
    <app-footer></app-footer>

</section>