<app-header [title]="page.title" [menu]="page.menu" ></app-header>
<section class="ftco-section bg-light pb-3 pt-5">
    <div class="card mx-auto mb-5 w-75 h-100">
        <div class="card-body">
                <form>
                    <h6 class="mb-3" *ngIf="errors"><strong class="text-danger">{{errors}}</strong></h6>
                    <div class="row g-3">
                        <div class="col-md-9">
                            <h6>Uniform Program - {{ page.data?.pgName }}</h6>
                        </div>
                        <div class="col-md-2">
                            <button (click)="drop = !drop" class="btn btn-primary rounded-0 w-100" type="button"> 
                                More Actions 
                            </button>
                            <div (mouseleave)="drop = false" id="myDropdown" class="actions-content me-5 bg-light position-absolute shadow"
                                 [ngClass]="{'d-block': (drop), 'd-none': !(drop)}">
                                <a class="p-2 text-dark d-block text-decoration-none" href="#">Add Customization</a>
                                <a class="p-2 text-dark d-block text-decoration-none" href="#">Delete</a>
                            </div>
                        </div>
                    </div>

                    <h6 class="card-title mb-5">Add New Information</h6>

                    <div class="form-group row g-3 mb-3" *ngIf="page.entrymode">
                            <label class="col-md-1 col-form-label"><strong>Location:</strong> </label>
                            <div class="col-md-3" *ngIf="page.entrymode">
                                <select name="vdInput" [(ngModel)]="vdno" class="form-select" (change)="getApplication()">
                                    <option value="">Non Location</option>
                                    <option *ngFor="let location of page.data?.vdno" [ngValue]="location.valu">{{location.desc}}</option>
                                </select>
                            </div>
                    </div>

                    <div class="form-group row g-3 mb-3">
                            <label class="col-md-1 col-form-label"><strong>Application:</strong> </label>
                            <div class="col-md-3" *ngIf="page.entrymode">
                                <select name="v1Input" [(ngModel)]="v1cd" class="form-select">
                                    <option value="">Select</option>
                                    <option *ngFor="let app of page.data?.v1cd" [ngValue]="app.valu">{{app.desc}}</option>
                                </select>
                            </div>
                            <div class="col-md-3" *ngIf="page.editmode">
                                <input type="text" readonly disabled class="form-control" [value]="v1cdDesc">
                            </div>
                    </div>

                    <div class="form-group row g-3 mb-3">
                            <label class="col-md-1 col-form-label"><strong>Description:</strong> </label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="inputDesc" name='description' [(ngModel)]="desc" [value] = 'desc'>
                            </div>
                    </div>

                    <div class="form-group row g-3 mb-3" *ngIf="v1cd">
                            <label class="col-md-1 col-form-label"><strong>VAS Item:</strong> </label>
                            <div class="col-md-3 me-5">
                                <input type="text" readonly disabled class="form-control-plaintext" [value]="vedpDesc ? vedp + ' - ' + vedpDesc : ''">
                            </div>
                            <div class="col-md-1">
                                <button class="btn" (click)="inqStyle()">
                                    <span class="bi bi-search" title="Inquire"></span>
                                </button>
                            </div>
                    </div>

                    <div class="form-group row g-3 mb-3">
                            <label class="col-md-1 col-form-label"><strong>Mandatory:</strong> </label>
                            <div class="col-md-3 mt-4">
                                <input class="form-check-input" type="checkbox" [checked]="mand" (click)="mand = !mand">
                            </div>
                    </div>

                    <div class="form-group row g-3 mb-4">
                            <label class="col-md-1 col-form-label"><strong>Active:</strong> </label>
                            <div class="col-md-3 mt-4">
                                <input class="form-check-input" type="checkbox" [checked]="actv" (click)="actv = !actv">
                            </div>
                    </div>

                    <div class="d-flex flex-row">
                        <div class="col-md-3">
                            <button *ngIf="page.editmode" type="submit" class="btn btn-primary me-3" (click)="loadApp('update')">Save</button>
                            <button *ngIf="page.entrymode" type="submit" class="btn btn-primary me-3" (click)="copy ? loadApp('copy') : loadApp('create')">Build Application</button>
                            <button *ngIf="page.editmode" type="submit" class="btn btn-primary me-3" (click)="deleteApp()">Delete</button>
                            <button type="submit" class="btn btn-primary me-3" (click)="goBack()">Cancel</button>
                        </div>
                    </div>
                </form>
        </div>
    </div>
    
    <app-footer></app-footer>

</section>
