<app-header [title]="page.title" [menu]="page.menu" ></app-header>

<div id="container">
    <app-sidebar class="sidebar" [title]="page.title" [menu]="page.menu"></app-sidebar>

    <section class="ftco-section bg-light pb-3 pt-5 content w-100">
        <div class="card mx-auto mb-5 mt-5  w-75 mh-100">
            <div class="card-body">
                    <form>
                        <h6 class="mb-3" *ngIf="errors"><strong class="text-danger">{{errors}}</strong></h6>
                        <div class="row g-3">
                            <div class="col-md-9">
                                <h6>Uniform Program - {{ page.data?.pgName }}</h6>
                            </div>
                        </div>

                        <h6 class="card-title mb-5">Add New Information</h6>

                        <div class="form-group row g-1 mb-3" *ngIf="page.entrymode && !this.dropship">
                                <label class="col-md-2 col-form-label"><span class="text-danger"><strong>* </strong></span><strong>Location:</strong> </label>
                                <div class="col-md-3 mb-3" *ngIf="page.entrymode">
                                    <select name="vdInput" [(ngModel)]="dscx" class="form-select" (change)="getApplication()">
                                        <option value="">Select</option>
                                        <option *ngFor="let location of page.data?.vdno" [ngValue]="location.valu">{{location.valu}}</option>
                                    </select>
                                </div>
                                <h6> -- OR -- </h6>
                        </div>

                        <div class="form-group row g-1 mb-5">
                                <label class="col-md-2 col-form-label"><strong><span class="text-danger"><strong>* </strong></span>Application:</strong> </label>
                                <div class="col-md-3" *ngIf="page.entrymode">
                                    <select name="v1Input" [(ngModel)]="v1cd" class="form-select">
                                        <option value="">Select</option>
                                        <option *ngFor="let app of page.data?.v1cd" [ngValue]="app.valu">{{app.desc}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3" *ngIf="page.editmode">
                                    <input type="text" readonly disabled class="form-control" [value]="v1cdDesc">
                                </div>
                        </div>

                        <div class="form-group row g-1 mb-3">
                                <label class="col-md-2 col-form-label"><span class="text-danger"><strong>* </strong></span><strong>Description:</strong> </label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="inputDesc" name='description' [(ngModel)]="desc" [value] = 'desc'>
                                </div>
                        </div>

                        <div class="form-group row g-1 mb-3" *ngIf="v1cd">
                                <label class="col-md-2 col-form-label"><span class="text-danger"><strong>* </strong></span><strong>VAS Item:</strong> </label>
                                <div class="col-md-3 me-5">
                                    <input type="text" readonly disabled class="form-control-plaintext" [value]="vedpSku ? vedpSku + ' - ' + vedpDesc : ''">
                                </div>
                                <div class="col-md-1">
                                    <button class="btn" (click)="inqItem()">
                                        <span class="bi bi-search" title="Inquire"></span>
                                    </button>
                                </div>
                        </div>

                        <div class="form-group row g-1 mb-3">
                                <label class="col-md-2 col-form-label"><strong>Mandatory:</strong> </label>
                                <div class="col-md-3 mt-3">
                                    <input class="form-check-input" type="checkbox" [checked]="mand == 'Y'" (click)="mand == 'Y' ? mand = 'N' : mand = 'Y'">
                                </div>
                        </div>

                        <div class="form-group row g-3 mb-4">
                                <label class="col-md-2 col-form-label"><strong>Active:</strong> </label>
                                <div class="col-md-3 mt-4">
                                    <input class="form-check-input" type="checkbox" [checked]="actv == 'Y'" (click)="actv == 'Y' ? actv = 'N' : actv = 'Y'">
                                </div>
                        </div>

                        <div class="d-flex flex-row">
                            <div class="col-md-3">
                                <button *ngIf="page.editmode" type="submit" class="btn btn-primary me-3" (click)="loadApp('update')">Save</button>
                                <button *ngIf="page.entrymode" type="submit" class="btn btn-primary me-3" (click)="copy ? loadApp('copy') : loadApp('create')">Build Application</button>
                                <button *ngIf="page.editmode" type="submit" class="btn btn-primary me-3" (click)="deleteApp()">Delete</button>
                                <button type="submit" class="btn btn-primary me-3" (click)="goBack()">Cancel</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
        
        <app-footer></app-footer>

    </section>
</div>
