<div class="d-flex" style="z-index: 999;" *ngIf="this.menu != ''">

    <button class="toggle-btn" (click)="this.showSidebar = !this.showSidebar" *ngIf="!showSidebar">
        <i class="bi bi-arrows-collapse-vertical text-dark" ></i>
    </button>

  <nav class="sidebar position-relative d-flex flex-column" *ngIf="this.showSidebar">
      <div class="p-4">
            <a>
                <li class="logo pe-5">
                    <img src="{{imgprfx}}/logo.png" style="max-width: 130px;">
                </li>
            </a>
      </div>

      <div class="nav flex-column">

        <div class="col-md-12 mb-3 justify-content-end">
            <a class="p-4" (click)="this.showSidebar = !this.showSidebar" (click)="expanded = ''">
                <i class="bi bi-arrows-collapse-vertical text-light" style="font-size: 25px; cursor: pointer;"></i>
            </a>
        </div>

        <div class="col-md-12">
          <a class="sidebar-link text-decoration-none p-3 user-select-none" (click)="goMenu('dashboard')">
              <span>Dashboard</span>
          </a>
        </div>

        <div class="col-md-12">
          <a class="sidebar-link text-decoration-none p-3 user-select-none" (click)="goMenu('customers')">
              <span>Customers</span>
          </a>
        </div>

        <!-- Pricing -->
        <div class="col-md-12">
            <a (click)="(expanded == 'pricing') ? expanded = '' : expanded = 'pricing'" class="sidebar-link text-decoration-none p-3 user-select-none"
                [ngClass]="{'active': (this.expanded.includes('pricing'))}">
                <span>Pricing
                <i [ngClass]="{'bi bi-chevron-down': (this.expanded.includes('pricing')), 'bi bi-chevron-right': (!this.expanded.includes('pricing'))}" ></i>
                </span> 
            </a>
        </div>
        <div class="sidebar-sub-3" [ngClass]="{'d-none': (!this.expanded.includes('pricing'))}">
            <div class="col-md-12 mb-1">
                <a class="sidebar-link-sub text-decoration-none user-select-none" (click)="goMenu('uplist')">
                    <span>UP Price List</span> 
                </a>
            </div>
            <div class="col-md-12 mb-1">
                <a class="sidebar-link-sub text-decoration-none user-select-none" (click)="goMenu('vasprice')">
                    <span>UP VAS Pricing</span> 
                </a>
            </div>
        </div>

        <!-- Catalog -->
        <div class="col-md-12">
            <a (click)="(expanded == 'catalog') ? expanded = '' : expanded = 'catalog'" class="sidebar-link text-decoration-none p-3 user-select-none"
                [ngClass]="{'active': (this.expanded.includes('catalog'))}">
                <span>Catalog
                    <i [ngClass]="{'bi bi-chevron-down': (this.expanded.includes('catalog')), 'bi bi-chevron-right': (!this.expanded.includes('catalog'))}" ></i>
                </span>
            </a>
        </div>
        <div class="sidebar-sub-4" [ngClass]="{'d-none': (!this.expanded.includes('catalog'))}">
            <div class="col-md-12 mb-1">
                <a class="sidebar-link-sub text-decoration-none user-select-none" (click)="goMenu('products')">
                    <span>Products<br></span> 
                </a>
            </div>
            <div class="col-md-12 mb-1">
                <a class="sidebar-link-sub text-decoration-none user-select-none" (click)="goMenu('categories')">
                    <span>Categories<br></span> 
                </a>
            </div>
            <div class="col-md-12 mb-1">
                <a class="sidebar-link-sub text-decoration-none user-select-none" (click)="goMenu('customizations')">
                    <span>Customization<br></span> 
                </a>
            </div>
            <div class="col-md-12 mb-1">
                <a class="sidebar-link-sub text-decoration-none user-select-none" (click)="goMenu('warehouse')">
                    <span>Warehouse</span> 
                </a>
            </div>
        </div>

        <!-- Content -->
        <div class="col-md-12">
          <a (click)="(expanded == 'content') ? expanded = '' : expanded = 'content'" class="sidebar-link text-decoration-none p-3 user-select-none"
             [ngClass]="{'active': (this.expanded.includes('content'))}">
            <span>Content
                <i [ngClass]="{'bi bi-chevron-down': (this.expanded.includes('content')), 'bi bi-chevron-right': (!this.expanded.includes('content'))}" ></i>
            </span>
          </a>
        </div>
        <div class="sidebar-sub-5" [ngClass]="{'d-none': (!this.expanded.includes('content'))}">
            <div class="col-md-12 mb-1">
                <a class="sidebar-link-sub text-decoration-none user-select-none" (click)="goMenu('images')">
                  <span>Uniform Program Images<br></span> 
                </a>
            </div>
            <div class="col-md-12 mb-1  ">
                <a class="sidebar-link-sub text-decoration-none user-select-none" (click)="goMenu('notes')">
                    <span>Uniform Program Notes<br></span> 
                </a>
            </div>
        </div>

        <!-- Tools -->
         <div class="col-md-12">
            <a (click)="(expanded == 'tools') ? expanded = '' : expanded = 'tools'" class="sidebar-link text-decoration-none p-3 user-select-none"
                [ngClass]="{'active': (this.expanded.includes('tools'))}">
                <span>Tools
                    <i [ngClass]="{'bi bi-chevron-down': (this.expanded.includes('tools')), 'bi bi-chevron-right': (!this.expanded.includes('tools'))}" ></i>
                </span>
            </a>
         </div>
          <div class="sidebar-sub-6" [ngClass]="{'d-none': (!this.expanded.includes('tools'))}">
            <div class="col-md-12 mb-1">
                <a class="sidebar-link-sub text-decoration-none user-select-none" (click)="goMenu('import')">
                  <span>Data Import<br></span> 
                </a>
            </div>
            <div class="col-md-12 mb-1">
                <a class="sidebar-link-sub text-decoration-none user-select-none" (click)="goMenu('export')">
                  <span>Data Export<br></span> 
                </a>
            </div>
            <div class="col-md-12 mb-1">
                <a class="sidebar-link-sub text-decoration-none user-select-none" (click)="goMenu('cxmlconfigs')">
                  <span>CXML Configuration<br></span> 
                </a>
            </div>
          </div>

          <!-- Reports -->
           <div class="col-md-12">
            <a (click)="(expanded == 'reports') ? expanded = '' : expanded = 'reports'" class="sidebar-link text-decoration-none p-3 user-select-none"
                [ngClass]="{'active': (this.expanded.includes('reports'))}">
                <span>Reports
                    <i [ngClass]="{'bi bi-chevron-down': (this.expanded.includes('reports')), 'bi bi-chevron-right': (!this.expanded.includes('reports'))}" ></i>
                </span>
            </a>
           </div>
          <div class="sidebar-sub-7" [ngClass]="{'d-none': (!this.expanded.includes('reports'))}">
            <div class="col-md-2 mb-1">
                <a class="sidebar-link-sub text-decoration-none user-select-none" (click)="goMenu('OERP53')">
                  <span>UP Assortment Report<br></span> 
                </a>
            </div>
            <div class="col-md-2 mb-1">
                <a class="sidebar-link-sub text-decoration-none user-select-none" (click)="goMenu('OERP52')">
                  <span>UP Personalization Group<br></span> 
                </a>
            </div>
            <div class="col-md-2 mb-1">
                <a class="sidebar-link-sub text-decoration-none user-select-none" (click)="goMenu('OERP302')">
                  <span>UP Program Audit Log<br></span> 
                </a>
            </div>
          </div>
          <!-- Audit -->
            <!-- <div class="col-md-12">
                <a class="sidebar-link text-decoration-none p-3 user-select-none" (click)="goMenu('audit')">
                    <span>Audit</span>
                </a>
            </div> -->

      </div>
  </nav>
</div>
