.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    text-align: center;
    max-width: 800px;
    height: 300px;
    width: 100%;
    margin-bottom: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: grid;
    place-items: center;
    position: relative;
  }
  
  h2 {
      margin-top: 90px;
      color: #197abf;
  }
  
  p {
      color: #197abf;
      font-size: 5mm;
  }
  
  .loader {
    border: 16px solid #d3d2d2; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    position: absolute;
    margin-top: 15px;
    opacity: 100%;
    background-color: #ffffff00;
    /**/
  
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }