<h6 class="mb-3" *ngIf="errors"><strong class="text-danger">{{errors}}</strong></h6>
<h6 class="mb-3" *ngIf="msg"><strong class="text-primary">{{msg}}</strong></h6>
<table class="table">
    <thead>
        <tr>
            <th align="left"></th>
            <th align="left">VAS Question</th>
            <th align="left">Type</th>
            <th align="left">Force Default</th>
            <th align="left">Display Forced Answer</th>
            <th align="left">Default Answer</th>
            <th align="left"></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let question of page.data?.vasq; index as i">
            <td class="ps-5">
                <button class="btn bg-transparent" (click)="editQuestion(question)"><span
                    class="bi bi-pencil-square" title="Edit Category"></span></button>
            </td>
            <td align="left">{{question.desc}}</td>
            <td align="left">{{question.typeDesc}}</td>
            <td align="left">
                <input class="form-check-input" type="checkbox" [id]="'dflk' + i + question.n2no" [checked]="question.dflk == 'Y'" >
            </td>
            <td align="left">
                <select class="form-select" name="displayForced" [id]="'dspd' + i + question.n2no" *ngIf="question.dspdDrop == 'Y'">
                    <option value="">Select</option>
                    <option *ngFor="let default of question.ynDrop"  [value]="default.value" [selected]="default.value == question.dspd">{{default.desc}}</option>
                </select>

                <input class="form-check-input" type="checkbox" [id]="'dspd' + i + question.n2no" [checked]="question.dspd == 'Y'" *ngIf="!question.dspdDrop || question.dspdDrop !== 'Y'">
            </td>
            <!-- Default Answer -->
            <td align="left">
                <!-- Displaying Dropdown-->
                <select name="" class="form-select" *ngIf="question.dfltAnsDrop" [id]="'dfan' + i + question.n2no" (change)="saveQuestions('validate')">
                    <option value="">Select</option>
                    <option *ngFor="let answer of question.dfltAnsDrop" [value]="answer.value" [selected]="answer.value == question.dfan">{{answer.desc}}</option>
                </select>

                <select name="" class="form-select" *ngIf="question.dfltAnsPDrop" [id]="'dfan' + i + question.n2no" (change)="saveQuestions('validate')">
                    <option value="">Select</option>
                    <option *ngFor="let answer of question.dfltAnsPDrop" [value]="answer.value" [selected]="answer.value == question.dfan">{{answer.desc}}</option>
                </select>

                <!-- Showing Inquiry -->
                <input type="text" readonly class="form-control-plaintext" *ngIf="question.dfltNoDrop == 'inq'" [id]="'dfan' + i + question.n2no" [value]="question.dfan">


                <!-- Showing Input -->
                <input type="text" class="form-control" *ngIf="question.dfltNoDrop == 'input' || question.dfltNoDrop == 'inputU'" [id]="'dfan' + i + question.n2no" [attr.maxlength]="question.maxi" [value]=" question.dfltNoDrop == 'inputU' ? question.dfan.toUpperCase() : question.dfan">
            </td>
            <td align="left"></td>
        </tr>
        <tr>
            <th align="left"></th>
            <th align="left"></th>
            <th align="left"></th>
            <th align="left"></th>
            <th align="left"></th>
            <th align="left"></th>
            <th align="left">
                <button class="btn btn-primary rounded-0 w-100" type="button" (click)="saveQuestions('')">Save</button>
            </th>
        </tr>
    </tbody>
</table>
