<app-header [title]="page.title" [menu]="page.menu" ></app-header>

<div id="container">

    <app-sidebar class="sidebar" [title]="page.title" [menu]="page.menu"></app-sidebar>

    <section class="ftco-section bg-light pb-3 pt-5 content w-100">
        <div class="card mx-auto mb-5 mt-5 w-75 mh-100">
            <div class="card-body">

                <div class="row g-4">
                    <div class="col-8">
                        <h6 class="">Uniform Program - {{ page.data?.pgName }}</h6>
                    </div>

                    <div class="dropdown col-2">
                        <button (click)="drop = !drop" class="btn btn-primary rounded-0 dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More Actions</button>
                        <div class="dropdown-menu rounded-0" aria-labelledby="dropdownMenuButton" [ngClass]="{'d-block': (drop), 'd-none': !(drop)}" (mouseleave)="drop = false">
                            <a class="dropdown-item" href="javascript:void" (click)="loadAction('question')">Mass Question Update</a>
                            <a class="dropdown-item" href="javascript:void" (click)="loadAction('app')">Mass Application Update</a>
                            <a class="dropdown-item" href="javascript:void" (click)="loadAction('item')">Mass VAS Item Update</a>
                        </div>
                    </div>

                    <div class="col-2">
                        <button (click)="loadCustomization('new','')" class="btn btn-primary rounded-0 mw-50 me-3" type="button">New</button>
                        <button class="btn">
                            <span class="bi bi-question-circle" title="FAQ"></span>
                        </button>
                    </div>
                </div>

                <div class="row g-3 mb-3">
                    <div class="col-md-9">
                        <h6><small>Catalog > Customization</small></h6>
                    </div>
                </div>


                <div class="row g-3 mb-4">
                    <div class="col-md-3">
                        <input placeholder="Search" [(ngModel)]="desc" class="form-control" (keyup.enter)="getCustomizations()">
                    </div>
                    <div class="col-md-3">
                        <ngx-select-dropdown name="inputVEDP" [config]="searchConfig('VAS Item')" [options]="page.data?.items" [(ngModel)]="vitem" (change)="getCustomizations()"></ngx-select-dropdown>
                    </div>
                    <div class="col-md-3">
                        <ngx-select-dropdown name="inputN1NO" [config]="searchConfig('Application')" [options]="page.data?.apps" [(ngModel)]="app" (change)="getCustomizations()"></ngx-select-dropdown>
                    </div>
                    <div class="col-md-2">
                        <select class="form-select" [(ngModel)]="img" (change)="getCustomizations()">
                            <option value="">Image</option>
                            <option [ngValue]="'Y'">Yes</option>
                            <option [ngValue]="'N'">No</option>
                        </select>
                    </div>
                </div>

                <div class="row g-3 mb-4">
                    <div class="col-md-3">
                        <ngx-select-dropdown name="inputNPNO" [config]="searchConfig('Style')" [options]="page.data?.stylDrop" [(ngModel)]="styl" (change)="getCustomizations()"></ngx-select-dropdown>
                    </div>
                    <div class="col-md-3">
                        <ngx-select-dropdown name="inputNPNO" [config]="searchConfig('Style Configurator Template')" [(ngModel)]="vfg" [options]="page.data?.stylconfig" (change)="getCustomizations()"></ngx-select-dropdown>
                    </div>
                    <div class="col-md-4">
                        <ngx-select-dropdown name="inputNPNO" [config]="searchConfig('VAS Category')" [(ngModel)]="ctno" [options]="page.data?.catgDrop" (change)="getCustomizations()"></ngx-select-dropdown>
                    </div> 
                    <div class="col-md-1">
                        <button class="btn btn-primary rounded-0 mw-75" type="button" (click)="getCustomizations()">Go</button>
                    </div>
                </div>

                <div class="row g-3 mb-4">
                    <!-- <div class="col-md-3 mb-3">
                        <label class="col-form-label">Last Usage Date: </label>
                        <input type="date" class="form-control" name="lsdt" value="Last Usage Date">
                    </div>    -->
                    <div class="col-md-3">
                        <button class="btn btn-primary rounded-0 mw-50" type="button" (click)="assignStyles()">Assign Styles</button>
                    </div>  
                </div>

                <hr class="h-0 border-top-3 border-primary opacity-100 mb-4">

                <table class="table table-striped w-100">
                    <thead>
                        <tr>
                            <th align="left" class="ps-2 pe-3 pb-1">
                                <input type="checkbox" class="form-check-input" (click)="checkAll()" [checked]="allChecked() && page.data?.customizations.length > 0">
                            </th>
                            <th align="left" class="w-25 ps-3">Actions</th>
                            <th align="left">Customization Name</th>
                            <th align="left">eQuip Description</th>
                            <th align="left">Style Count</th>
                            <th align="left">Image</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let customization of page.data?.customizations | paginate: {itemsPerPage: itemsPerPage, currentPage: p, totalItems: total}; index as u ">
                            <td align="left" class="ps-2" colspan="1"><input type="checkbox" class="form-check-input" (click)="checkCustomization(customization)" [checked]="isChecked(customization)"></td>
                            <td class="w-25">
                                <button class="btn bg-transparent" (click)="loadCustomization('edit', customization.npno)"><span
                                    class="bi bi-pencil-square" title="Edit Product"></span></button>
                                <button class="btn bg-transparent" (click)="loadCustomization('copy', customization.npno)"><span
                                    class="bi bi-clipboard" title="Copy Product"></span></button>
                                <button class="btn bg-transparent" (click)="deleteCustomization(customization.npno)"><span
                                    class="bi bi-trash" title="Product Details"></span></button>
                                <button class="btn btn-outline-primary btn-sm" (click)="loadVAS(customization.npno)">VAS</button>
                            </td>
                            <td align="left">{{customization.name}}</td>
                            <td align="left">{{customization.desc}}</td>
                            <!-- Style Count -->
                            <td align="left" *ngIf="customization.styles.length > 0">
                                <div class="tooltip">{{customization.styles.length}}
                                    <span class="tooltiptext">
                                        <p *ngFor="let style of customization.styles; index as i">{{style.styl}}</p>
                                    </span>
                                </div> 
                            </td>
                            <td align="left" *ngIf="customization.styles.length == 0">0</td>

                            <!-- Image Count -->
                            <td align="left" *ngIf="customization.images.length > 0">
                                <div class="tooltip"><a href="javascript:void" (click)="goImages(customization.npno)">{{customization.images.length}}</a>
                                    <span class="tooltiptext">
                                        <p *ngFor="let image of customization.images; index as i">{{image.desc}}</p>
                                    </span>
                                </div> 
                            </td>
                            <td align="left" *ngIf="customization.images.length == 0"><a href="javascript:void" (click)="goImages(customization.npno)">0</a></td>
                        </tr>
                    </tbody> 
                </table> 
            </div>
        </div>

        <div class="row g-4">
            <div class="col-8 mx-auto w-50">
                <label>Items per page:
                    <select [(ngModel)]="itemsPerPage" (change)="onItemChange(itemsPerPage)">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    </select>
                </label>
            </div>

            <div class="col-2 w-25">
                <pagination-controls (pageChange)="onPageChange($event)" [maxSize]="0" class="text-primary"></pagination-controls>
            </div>
        </div>
        <app-footer></app-footer>
    </section>
</div>

