<app-header [title]="page.title" [menu]="page.menu" ></app-header>
<section class="ftco-section bg-light pb-3 pt-5">

    <div class="card mx-auto mb-5 w-75 h-100">
        <div class="card-body">
            <form>

                <div class="row g-4 mb-2">
                    <div class="col-8">
                        <h6 class="">Uniform Program - {{ page.data?.pgName }}</h6>
                    </div>
                </div>

                <div class="row g-3 mb-5">
                    <div class="col-md-9">
                        <h6><small>Catalog > Customization > </small></h6>
                    </div>
                </div>

                <div class="form-group row g-3 mb-3 ms-5" *ngIf="(errors)">
                    <div class="col-md-4">
                        <h6 class="mb-3"><strong class="text-danger">{{errors}}</strong></h6>
                    </div>
                </div>
                
                <div class="form-group row g-3 mb-3">
                    <label class="col-md-2 col-form-label" align="right"><strong>Personalization Group:</strong></label>
                    <div class="col-md-3">
                        <input type="text" readonly class="form-control-plaintext" [value]="page.data?.info.npname">
                    </div>
                </div>
                <div class="form-group row g-3 mb-3">
                    <label class="col-md-2 col-form-label" align="right"><strong>VAS Application:</strong></label>
                    <div class="col-md-3">
                        <input type="text" readonly class="form-control-plaintext" [value]="page.data?.info.nv1desc">
                    </div>
                </div>
                <div class="form-group row g-3 mb-3">
                    <label class="col-md-2 col-form-label" align="right"><strong>VAS Question:</strong></label>
                    <div class="col-md-3">
                        <input type="text" readonly class="form-control-plaintext" [value]="page.data?.info.cv2desc">
                    </div>
                </div>
                <div class="form-group row g-3 mb-3">
                    <label class="col-md-2 col-form-label" align="right"><span class="text-danger"><strong>* </strong></span><strong>Description:</strong></label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="inputDesc" [(ngModel)]="desc" [value] = 'desc'>
                    </div>
                </div>
                <div class="form-group row g-3 mb-3">
                    <label class="col-md-2 col-form-label" align="right"><strong>Sequence:</strong></label>
                    <div class="col-md-3">
                        <select name="" class="form-select">
                            <option value="">Select</option>
                            <option *ngFor="let sequence of page.data?.seqDrop" [value]="trim(sequence.value)" [selected]="page.data?.info.seq == seqOpt.value" #seqOpt>{{sequence.desc}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row g-3 mb-3">
                    <label class="col-md-2 col-form-label" align="right"><strong>Active:</strong></label>
                    <div class="col-md-3">
                        <select name="" class="form-select">
                            <option value="">Select</option>
                            <option *ngFor="let status of page.data?.ynDrop" [value]="trim(status.value)" [selected]="page.data?.info.actv == statOpt.value" #statOpt>{{status.desc}}</option>
                        </select>
                    </div>
                </div>
                <ng-container *ngIf="type == 'I' || type == 'P'">
                    <div class="form-group row g-3 mb-3">
                        <label class="col-md-2 col-form-label" align="right"><strong>Min Length:</strong></label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" [value]="page.data?.info.mini">
                        </div>
                    </div>
                    <div class="form-group row g-3 mb-3">
                        <label class="col-md-2 col-form-label" align="right"><strong>Max Length:</strong></label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" [value]="page.data?.info.maxi">
                        </div>
                    </div>
                    <div class="form-group row g-3 mb-3">
                        <label class="col-md-2 col-form-label" align="right"><span class="text-danger" *ngIf="type == 'P'"><strong>* </strong></span><strong>Restriction List:</strong></label>
                        <div class="col-md-3">
                            <input type="text" readyonly class="form-control-plaintext" [value]="page.data?.info.rsli">
                        </div>
                        <div class="col-md-1 mt-3">
                            <button class="btn btn-light" (click)="inqDrop()">
                                <span class="bi bi-search" title="Inquire"></span>
                            </button>
                        </div>
                    </div>
                </ng-container>
                <div class="form-group row g-3 mb-3" *ngIf="type == 'D'">
                    <label class="col-md-2 col-form-label" align="right"><strong><span class="text-danger">*</span>Droplist:</strong></label>
                        <div class="col-md-3">
                            <input type="text" readonly class="form-control-plaintext" [value]="vhno ? vhno : page.data?.info.vh2vhdesc">
                        </div>
                        <div class="col-md-1 mt-3">
                            <button class="btn btn-light" (click)="inqDrop()">
                                <span class="bi bi-search" title="Inquire"></span>
                            </button>
                        </div>
                </div>
                <ng-container *ngIf="type == 'R'">
                    <div class="form-group row g-3 mb-3">
                        <label class="col-md-2 col-form-label" align="right"><strong>Range Min:</strong></label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" [value]="page.data?.info.minr">
                        </div>
                    </div>
                    <div class="form-group row g-3 mb-3">
                        <label class="col-md-2 col-form-label" align="right"><strong>Range Max:</strong></label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" [value]="page.data?.info.maxr">
                        </div>
                    </div>
                    <div class="form-group row g-3 mb-3">
                        <label class="col-md-2 col-form-label" align="right"><strong>Range Dec Precision:</strong></label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" [value]="page.data?.info.decr">
                        </div>
                    </div>
                    <div class="form-group row g-3 mb-3">
                        <label class="col-md-2 col-form-label" align="right"><strong>Range Increment:</strong></label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" [value]="page.data?.info.incr">
                        </div>
                    </div>
                </ng-container>
                <div class="form-group row g-3 mb-3" *ngIf="type == 'E'">
                    <label class="col-md-2 col-form-label" align="right"><strong>Vas Material Type:</strong></label>
                    <div class="col-md-3">
                        <select name="" class="form-select">
                            <option value="">Select</option>
                            <option *ngFor="let type of page.data?.vsmtDrop" [value]="trim(type.value)" [selected]="page.data?.info.vsmt == typeOpt.value" #typeOpt>{{type.desc}}</option>
                        </select>
                    </div>
                </div>

                <!-- Default Answer -->
                <div class="form-group row g-3 mb-3">
                    <label class="col-md-2 col-form-label" align="right"><strong>Default Answer:</strong></label>
                    <div class="col-md-3">

                        <!-- Displaying Dropdown-->
                        <select name="" class="form-select" *ngIf="!page.data?.dfltNoDrop">
                            <option value="">Select</option>
                            <option *ngFor="let answer of page.data?.dfltAnsDrop" [value]="answer.value" [selected]="page.data?.info.dfan == dfanOpt.value" #dfanOpt>{{answer.desc}}</option>
                        </select>

                        <!-- Showing Inquiry -->
                        <input type="text" readonly class="form-control-plaintext" *ngIf="page.data?.dfltNoDrop == 'inq'" [value]="page.data?.info.dfan">


                        <!-- Showing Input -->
                        <input type="text" class="form-control" *ngIf="page.data.dfltNoDrop == 'input'" [value]="page.data?.info.dfan">

                    </div>
                    <div class="col-md-1 mt-5" *ngIf="page.data?.dfltNoDrop == 'inq'"> <!-- Dfan Inquiry -->
                        <button class="btn btn-light" (click)="inqDfan()">
                            <span class="bi bi-search" title="Inquire"></span>
                        </button>
                    </div>
                </div>
                <!---->

                <!-- Default if no Parent found -->
                <div class="form-group row g-3 mb-3">
                    <label class="col-md-2 col-form-label" align="right"><strong>Default if no Parent found:</strong></label>
                    <div class="col-md-3">

                        <!-- Displaying Dropdown-->
                        <select name="" class="form-select" *ngIf="!page.data?.dfltPNoDrop">
                            <option value="">Select</option>
                            <option *ngFor="let answer of page.data?.dfltAnsPDrop" [value]="answer.value" [selected]="page.data?.info.pdfan == pdfanOpt.value" #pdfanOpt>{{answer.desc}}</option>
                        </select>

                        <!-- Showing Inquiry -->
                        <input type="text" readonly class="form-control-plaintext" *ngIf="page.data?.dfltPNoDrop == 'inq'" [value]="page.data?.info.pdfan">


                        <!-- Showing Input -->
                        <input type="text" class="form-control" *ngIf="page.data.dfltPNoDrop == 'input'" [value]="page.data?.info.pdfan">

                    </div>
                    <div class="col-md-1 mt-3" *ngIf="page.data?.dfltPNoDrop == 'inq'"> <!-- PDfan Inquiry -->
                        <button class="btn btn-light" (click)="inqDfan()">
                            <span class="bi bi-search" title="Inquire"></span>
                        </button>
                    </div>
                </div>
                <!---->

                <div class="form-group row g-3 mb-3">
                    <label class="col-md-2 col-form-label" align="right"><strong>Display Default Locked Answer:</strong></label>
                    <div class="col-md-3" *ngIf="page.rfno !== '000000000000269'">
                        <input type="checkbox" class="form-check-input mt-4" [checked]="page.data?.info.dspd" [value]="page.data?.info.dspd">
                    </div>
                    <div class="col-md-3" *ngIf="page.rfno == '000000000000269'">
                        <select name="" class="form-select">
                            <option value="">Select</option>
                            <option *ngFor="let default of page.data?.dspdDrop" [value]="default.value" [selected]="page.data?.info.dspd == dspdOpt.value" #dspdOpt>{{default.desc}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row g-3 mb-3">
                    <label class="col-md-2 col-form-label" align="right"><span class="text-danger"><strong>* </strong></span><strong>Inventory Qty:</strong></label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="inputQty" [(ngModel)]="qty" [value] = 'qty'>
                    </div>
                </div>
                <div class="form-group row g-3 mb-3">
                    <label class="col-md-2 col-form-label" align="right"><strong>Lock Inventory Qty:</strong></label>
                    <div class="col-md-3">
                        <input type="checkbox" class="form-check-input mt-4" [checked]="page.data?.info.lkqt" [value]="page.data?.info.lkqt">
                    </div>
                </div>
                <div class="form-group row g-3 mb-3">
                    <label class="col-md-2 col-form-label" align="right"><strong>Force Default:</strong></label>
                    <div class="col-md-3">
                        <input type="checkbox" class="form-check-input mt-4" [checked]="page.data?.info.dflk" [value]="page.data?.info.dflk">
                    </div>
                </div>
                <div class="form-group row g-3 mb-3">
                    <label class="col-md-2 col-form-label" align="right"><strong>Rule:</strong></label>
                    <div class="col-md-3">
                        <select name="" class="form-select">
                            <option value="">Select</option>
                            <option *ngFor="let rule of page.data?.ruleDrop" [value]="rule.value" [selected]="page.data?.info.rule == ruleOpt.value" #ruleOpt>{{rule.desc}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row g-3 mb-3">
                    <label class="col-md-2 col-form-label" align="right"><strong>VAS Answer Format:</strong></label>
                    <div class="col-md-3">
                        <select name="" class="form-select">
                            <option value="">Select</option>
                            <option *ngFor="let format of page.data?.fmtDrop" [value]="trim(format.value)" [selected]="page.data?.info.afmt == frmtOpt.value" #frmtOpt>{{format.desc}}</option>
                        </select>
                    </div>
                </div>

                <div class="d-flex flex-row">
                    <div class="col-md-3 ms-5">
                        <button type="submit" class="btn btn-primary me-3" (click)="loadQuestion()">Save</button>
                        <button class="btn btn-secondary me-3" (click)="goBack()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <app-footer></app-footer>
</section>