<app-header [title]="page.title" [fullname]="page.fullname"></app-header>

<section class="ftco-section bg-light pb-3" >
    <div class="row mb-2"><!--Title & Buttons-->
        <div class="col-12 col-md-6">
            <button class="btn btn-dark rounded-0 me-2 float-start" title="Back"  (click)="goBack()" type="button"><i class="bi bi-arrow-left bi-boldicon"></i></button>
            <div class="float-start">
                <h4 *ngIf="page.entrymode" >Create New Blog </h4>
                <h4 *ngIf="page.viewmode">View Blog </h4>
                <h4 *ngIf="page.editmode">Edit Blog </h4>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
